.container_content {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.container_main {
  display: flex;
  align-items: center;
  background: var(--secondary-color);
  justify-content: center;
  height: 720px;
  width: 1280px;
}

.card_pix {
  background: var(--primary-color);
  border-radius: 2rem;
  color: var(--secondary-color);
  gap: .625rem;
  height: 15.25rem;
  padding: 2rem 1.5rem;
  width: 13rem;
  transition: 300ms ease-in-out;

  &:hover {
    color: var(--primary-color);
    background: var(--fourth-color);
  }
}

.card_title {
  color: var(--thrid-color);
  margin: 1rem 0;
}

.card_pix:hover .card_title,
.card_pix:hover .card_value,
.card_pix:hover .icon_pix {
  color: var(--primary-color);
  stroke: var(--primary-color);
}

.card_value {
  color: var(--fourth-color);
}